@import 'carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family.scss';
@import 'carbon-components/scss/globals/scss/vendor/@carbon/layout/scss/breakpoint.scss';
@import 'carbon-components/scss/globals/scss/typography.scss';
@import 'carbon-components/scss/globals/scss/vars.scss';

.mq--project-card {
  border-bottom: 1px solid $ui-03;
  padding-bottom: $spacing-04;
  margin-bottom: $spacing-04;
}

.mq--project-card--name {
  @include carbon--type-style('productive-heading-02');
}

.mq--project-card--name a {
  color: $text-01;
  text-decoration: none;
}

.mq--project-card--name a:hover {
  color: $link-01;
}

.mq--project-card--no-description,
.mq--project-card--description {
  @include carbon--type-style('body-long-02');
  margin-top: $spacing-02;
  margin-bottom: $spacing-03;
}

.mq--project-card--no-description {
  font-style: italic;
}

.mq--project-card--details {
  @include carbon--type-style('label-01');
  color: $text-02;

  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mq--project-card--details li {
  display: inline;
  margin-right: 1em;
}