@import 'carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family.scss';
@import 'carbon-components/scss/globals/scss/vendor/@carbon/layout/scss/breakpoint.scss';
@import 'carbon-components/scss/globals/scss/typography.scss';
@import 'carbon-components/scss/globals/scss/vars.scss';

$feature-flags: (
  grid-columns-16: true,
  ui-shell: true,
);

@import 'carbon-components/scss/globals/scss/styles.scss';

.bx--content {
  padding: 0;
}

.mq--type-semibold {
  font-weight: 600
}

/* https://www.carbondesignsystem.com/guidelines/spacing */
.mq--spacing-05 {
  margin-bottom: 1em;
}

.mq--spacing-06 {
  margin-bottom: 1.5em;
}

.mq--spacing-07 {
  margin-bottom: 2em;
}

.mq--shell--user-menu {
  width: auto;
  padding: 0 1em;
}

.mq--shell--user-menu:hover {
  background-color: transparent !important;
  cursor: auto !important;
}

.mq--shell--user-menu--text {
  @include carbon--type-style('body-short-01');

  color: #bebebe;
}