.mq--type-semibold {
  font-weight: 600
}

/* https://www.carbondesignsystem.com/guidelines/spacing */
.mq--spacing-05 {
  margin-bottom: 1em;
}

.mq--spacing-06 {
  margin-bottom: 1.5em;
}

.mq--spacing-07 {
  margin-bottom: 2em;
}