@import 'carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family.scss';
@import 'carbon-components/scss/globals/scss/vendor/@carbon/layout/scss/breakpoint.scss';
@import 'carbon-components/scss/globals/scss/typography.scss';
@import 'carbon-components/scss/globals/scss/vars.scss';

@mixin banner-background() {
  background-color: $ui-01;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: -$spacing-05;
    top: 0;
    right: -$spacing-05;
    bottom: 0;
    background: $ui-01;
    z-index: -1;
  }
}

.mq--page-banner {

}

.mq--page-banner--banner {
  padding-top: $spacing-07;
  padding-bottom: $spacing-07;
  @include banner-background;
}

.mq--page-banner--heading {
  @include carbon--type-style('productive-heading-05');
}

.mq--page-banner--p {
  @include carbon--type-style('productive-heading-03');
  margin-top: $spacing-06;
  margin-bottom: $spacing-05;
  @include carbon--breakpoint-between((320px + 1), md) {
    max-width: 50%;
  }
}

.mq--page-banner--p-no-content {
  @include carbon--type-style('productive-heading-03');
  margin-top: $spacing-06;
  margin-bottom: $spacing-05;
  font-style: italic;

  @include carbon--breakpoint-between((320px + 1), md) {
    max-width: 50%;
  }
}