@import 'carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family.scss';
@import 'carbon-components/scss/globals/scss/vendor/@carbon/layout/scss/breakpoint.scss';
@import 'carbon-components/scss/globals/scss/typography.scss';
@import 'carbon-components/scss/globals/scss/vars.scss';

.mq--cards-heading {
  @include carbon--type-style('productive-heading-04');
  padding-top: $spacing-05;
  padding-bottom: $spacing-05;
}

.mq--cards-button {
  text-align: right;
}

.mq--cards-no-items {
  @include carbon--type-style('body-long-02');
  font-style: italic;

  margin-top: $spacing-02;
  margin-bottom: $spacing-03;
}