html
    head
        title Peppermint Insurance SSO
        link(rel="stylesheet" type="text/css" href="/_auth/styles.css")
    body
        .login-page
            .form
                h3
                    | Signed out.<br />
                    | Goodbye!
                p
                    a(href="/")
                        | Back to Homepage
