@import 'carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family.scss';
@import 'carbon-components/scss/globals/scss/vendor/@carbon/layout/scss/breakpoint.scss';
@import 'carbon-components/scss/globals/scss/typography.scss';
@import 'carbon-components/scss/globals/scss/vars.scss';

table.mq-access-request-card--table {
  margin-bottom: 2em;
}

table.mq-access-request-card--table tr td {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

table.mq-access-request-card--table tr td:first-child {
  font-weight: bold;
  padding-right: 2em;
  border-right: 2px solid $ui-04;
  white-space: nowrap;
}

table.mq-access-request-card--table tr td:last-child {
  padding-left: 2em;
}

table.mq-access-request-card--table tr {
  border-bottom: 2px solid $ui-04;
}

table.mq-access-request-card--table tr:last-child {
  border-bottom: none;
}